.font-poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  
}
body{
    backgroun
}
.navber{
  display: flex;  
justify-content: space-around;
margin: 30px ;
align-items: center;
}
.navber-title{
margin-left: 40px;
font-size: 24px;
font-weight: 600;
color: #3a3a3a;
}
.list-item{
display: flex;
list-style: none;
gap: 30px;
height: 36px; ;
width: 463px; ;
color: #3a3a3a;
/*border: 1px solid aqua;*/

}
.list-item a{
    text-decoration: none;
}
.camra-section{
display: flex;
margin: 70px auto;
margin-left: 100px;
gap: 30px;

}
.banner-content{
width: 582px;
height:270px ;
/*border: 1px solid aqua;*/
/*margin: 165px 284px;*/
margin-left: 50px;
margin-top: 70px;
}
.banner-camra{
/*border: 1px solid aqua;*/
height:414px ;
width: 440px;
margin: 20px;
margin-right: 100px;
}
.btn-sector{
padding: 10px 10px;
background-color: #E02C6D;
border-radius: 20px ;
margin: 10px;
color: aliceblue;
}
.camra-title{
font-size: 3.2rem;
font-weight: 600;
color: #3a3a3a;
}
.camra-discription{
color: #3a3a3a;
font-weight: 600;
font-size: 1rem;
}
.images{
    display: flex;
    margin-left: 170px;
    gap: 50px;
    height:110px ;
    width: 1110px;
    justify-items: center;
    margin-top: 30px;
}
.card-sector{
display: flex;
gap: 30px;
flex-wrap: wrap;
justify-content: center;
}




.card-section{



}
.card-head{
    justify-content: c;
    text-align: center;
}
.card-section{
height: 476px;
width: 329px;

padding: 15px;
box-shadow: chartreuse;
}
.card-section img{
height: 256px;
width: 300px;
border-radius: 13px;
}
.card-price{
font-size:24px ;
font-weight: 200;
color: #000000;
}
.card-discription{
font-size: 14px;
font-weight: 500;
color: #3a3a3a;
margin: 3px;
}
.see-more{
color: #E02C6D;
margin-left: 1100px;
justify-items: center;
}
.see-more img{
    color: #E02C6D;
    margin-top: 2px;
}
.gear{
    display: flex;
justify-items: center;
height: 270px;
width: 1110px;

margin: 50px 170px;
gap: 96px;
}
.gear-item{
height: 224px;
width: 610px;



}
.gear-item p{
font-size: 16px;
font-weight: 500;
color:#6c6c6c ;
} .gear-item h1{
font-size: 2.4rem;

font-weight: 500;
}
.btn{
background-color: #E02C6D;
color: aliceblue;
padding: 5px;
}
.footer-sec{
height: 300px;
width: auto;
background-color: lightslategray;
justify-content: center;
margin-top: 50px;
}
.copywright{
margin-top: 50px;
text-align: center;

}
@media  screan and (width:576px) {
    .banner-content{

grid-template-columns: 1fr;



    }
}